$browserhooq-modal-base-ie-width             : 500px !default;

// Base
$browserhooq-modal-base-zindex          : 1050 !default;
$browserhooq-modal-base-fontfamily      : Arial, Helvetica, sans-serif !default;
$browserhooq-modal-base-backgroundcolor : #ffffff !default;
$browserhooq-modal-base-color           : #666666 !default;
$browserhooq-modal-base-maxwidth        : 725px !default;
$browserhooq-modal-base-border          : 1px solid #cccccc !default;
$browserhooq-modal-base-bordershadow    : 0 0 10px rgba(0, 0, 0, 0.3);
$browserhooq-modal-base-borderradius    : 5px !default;

// Modal Dialog Content
$browserhooq-modal-content-margin       : 25px 37px !default;

// Header
$browserhooq-modal-header-fontsize      : 16px !default;
$browserhooq-modal-header-margin        : 0 0 27px 0 !default;

// Body
$browserhooq-modal-body-fontsize        : 12px !default;

// Footer
$browserhooq-modal-footer-fontsize      : 14px !default;
$browserhooq-modal-footer-margin        : 27px 0 !default;

// Button
$browserhooq-modal-padding              : 11px 0 !default;
$browserhooq-modal-width                : 165px !default;
$browserhooq-modal-marginleft           : 8px !default;
$browserhooq-modal-fontsize             : 10px !default;
$browserhooq-modal-lineheight           : 12px !default;
$browserhooq-modal-color                : #fff !default;
$browserhooq-modal-borderradius         : 3px !default;
$browserhooq-modal-transition           : all 0.5s ease-out !default;

