@mixin border-radius($radius) {
    -webkit-border-radius : $radius;
    -moz-border-radius    : $radius;
    -ms-border-radius     : $radius;
    -o-border-radius      : $radius;
    border-radius         : $radius;
}

@mixin border-shadow($shadow) {
    -webkit-box-shadow    : $shadow;
    -moz-box-shadow       : $shadow;
    -ms-box-shadow        : $shadow;
    -o-box-shadow         : $shadow;
    box-shadow            : $shadow;
}

@mixin translate($x, $y) {
    -webkit-transform     : translate(-50%, -50%);
    -moz-transform        : translate(-50%, -50%);
    -ms-transform         : translate(-50%, -50%);
    -o-transform          : translate(-50%, -50%);
    transform             : translate(-50%, -50%);
}

@mixin transition($transition...) {
    webkit-transition     : $transition;
    -moz-transition       : $transition;
    -ms-transition        : $transition;
    -o-transition         : $transition;
    transition            : $transition;
}
